<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form method="POST">
        <label for="descricao">Descrição do Produto:</label>
        <input type="text" name="descricao" id="descricao" value="{{ produto.descricao }}">
        <br>
        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>